{% macro render_event(event, from_index=false) %}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <a class="thumbnail" href="{{ event|url }}">
      <span class="img">
        <img
        src="{{ event|url }}/{%- if event.thumbnail -%}{{ event.thumbnail }}{%- else -%}{{ event.image }}{%- endif -%}"
        alt="">
        <span class="cover"><span class="more">Ver detalles &rarr;</span></span>
      </span>
      <span class="title">{{ event.title }} {% if event.pub_date %} | {{ event.pub_date.strftime('%d/%m/%Y') }} {% endif %}</span>
    </a>
  </div>
{% endmacro %}
