{% macro render_user_index(user) %}
  <div class="col-lg-3 col-md-4 col-xs-12">
    <!-- Team Item Starts -->
    <figure>
      <img src="/usuarios/{{ user._id }}/{{ user.image }}" alt="">
      <div class="image-overlay">
        <div class="overlay-text text-center">
          <div class="info-text">
            <strong>{{ user.name }} {{ user.last_name }}</strong>
            <span>{{ user.summary }}</span>
          </div>
          <hr class="small-divider">
          <ul class="social-icons">
            {% if user.web %}
            <li><a href="{{ user.web }}" target="blank_"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
            {% endif %}
            {% if user.github_handle %}
            <li><a href="https://github.com/{{ user.github_handle }}" target="blank_"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            {% endif %}
            {% if user.linkedin_handle %}
            <li><a href="https://linkedincom/in/{{ user.linkedin_handle }}" target="blank_"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </figure>
    <!-- Team Item Ends -->
  </div>
{% endmacro %}

{% macro render_sponsor_index(sponsor) %}
  <div class="col-lg-3 col-md-6 col-xs-12">
    <a href="{{ sponsor.web }}" target="blank_">
      {% if sponsor.image %}
      <img class="sponsor" src="/usuarios/{{ sponsor._id }}/{{ sponsor.image }}" alt="">
      {% elif sponsor.image_alt %}
      <img class="sponsor" src="/usuarios/{{ sponsor._id }}/{{ sponsor.image_alt }}" alt="">
      {% else %}
      <img class="sponsor" src="{{ base_url }}static/img/about/img1.png" alt="">
      {% endif %}
    </a>
  </div>
{% endmacro %}