{% extends "layout.html" %}
{%- block body -%}
<div class="container">

  <div class="row justify-content-center topspace">
    <article class="col-sm-8 maincontent">
      <header class="page-header">
        <h2 class="section-title gt-walsheim primary-color">{{ this.title }}</h2>
        <p class="text-center">{{ this.summary }}</p>
      </header>
      <hr />
      <div class="content">
        {{ this.body }}
      </div>
      {% if this.communities %}
      <div class="row">
        <h3 class="section-title gt-walsheim primary-color">Comunidades Aliadas</h3>
      </div>
      <div class="row justify-content-center">
        {%- for block in this.communities.blocks -%}
        {%- set speaker = site.get('/usuarios/' + block.username) -%}
        <div class="col-md-3 col-sm-6 col-6">
          {% if speaker.image %}
          <img src="{{ speaker|url }}/{{ speaker.image }}" alt="{{ speaker.username }}" />
          {% elif speaker.image_alt %}
          <img src="{{ speaker|url }}/{{ speaker.image_alt }}" alt="{{ speaker.username }}" />
          {% else %}
          <img class="avatar-circle" src="{{ base_url }}static/images/avatar.png" alt="{{ speaker.username }}" />
          {% endif %}
        </div>
        {% if loop.index % 4 == 0 %}
      </div>
      <div class="row justify-content-center">
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </article>

    <!-- Sidebar -->
    <aside class="col-md-4 sidebar sidebar-left">

      <div class="widget">
        <h5 class="gt-walsheim text-right">Comunidades Python Colombia</h5>

        <iframe src="https://colombiapython.github.io/map-meetups/" width="100%" height="800px" frameborder="0"></iframe>
        <blockquote>
          <a href="https://github.com/ColombiaPython/map-meetups" target="_blank">Código Fuente</a>. Sobre <a
            href="https://python.org.co" target="_blank">Comunidades Python Colombia</a>
        </blockquote>
      </div>
    </aside>
    <!-- /Sidebar -->

  </div>
</div> <!-- /container -->
{%- endblock -%}