{% extends "layout.html" %}
{%- block body -%}
<div class="container">

  <div class="row justify-content-center topspace">
    <article class="col-sm-8 maincontent">
      <header class="page-header">
        <h2 class="section-title gt-walsheim primary-color">{{ this.title }}</h2>
        <p class="text-center">{{ this.summary }}</p>
      </header>
      <hr />
      <div class="content">
        {{ this.body }}
      </div>

      {% set team = site.query('/usuarios').filter(F.organizer) %}
      {% if team %}
      <div class="row justify-content-center">
        <h2 class="gt-walsheim primary-color">Equipo PyPereira</h2>
      </div>
        {% set actual_team = team.filter(F.organizer == 'actual') %}
        {% if actual_team %}
          <div class="row justify-content-center">
            {%- for user in actual_team -%}
            <div class="col-6 col-md-3">
              <a href="{{ user|url }}">
                {% if user.image %}
                <img class="avatar-circle" src="{{ user|url }}/{{ user.image }}" alt="{{ user.username }}" />
                {% else %}
                <img class="avatar-circle" src="{{ base_url }}static/images/avatar.png" alt="{{ user.username }}" />
                {% endif %}
              </a>
              <div>
                <p class="section-title gt-walsheim">{{ user.name }} {{ user.last_name }}</p>
              </div>
            </div>
            {% if loop.index % 4 == 0 %}
          </div>
          <div class="row justify-content-center">
            {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {% set past_team = team.filter(F.organizer == 'pasado') %}
        {% if past_team %}
          <div class="row justify-content-center">
            <h3 class="gt-walsheim primary-color">Han contribuido...</h3>
          </div>
          <div class="row justify-content-center">
            {%- for user in past_team -%}
            <div class="col-6 col-md-3">
              <a href="{{ user|url }}">
                {% if user.image %}
                <img class="avatar-circle" src="{{ user|url }}/{{ user.image }}" alt="{{ user.username }}" />
                {% else %}
                <img class="avatar-circle" src="{{ base_url }}static/images/avatar.png" alt="{{ user.username }}" />
                {% endif %}
              </a>
              <div>
                <p class="section-title gt-walsheim">{{ user.name }} {{ user.last_name }}</p>
              </div>
            </div>
            {% if loop.index % 4 == 0 %}
          </div>
          <div class="row justify-content-center">
            {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
      {% if this.communities %}
      <div class="row">
        <h3 class="section-title gt-walsheim primary-color">Comunidades Aliadas</h3>
      </div>
      <div class="row justify-content-center">
        {%- for block in this.communities.blocks -%}
        {%- set community = site.get('/usuarios/' + block.username) -%}
        <div class="col-md-3 col-sm-6 col-6">
          <a href="{{ community.web }}" target="_blank">
            {% if community.image %}
            <img class="logo" src="{{ community|url }}/{{ community.image }}" alt="{{ community.username }}" />
            {% elif community.image_alt %}
            <img class="logo" src="{{ community|url }}/{{ community.image_alt }}" alt="{{ community.username }}" />
            {% else %}
            <img class="avatar-circle" src="{{ base_url }}static/images/avatar.png" alt="{{ community.username }}" />
            {% endif %}
          </a>
        </div>
        {% if loop.index % 4 == 0 %}
      </div>
      <div class="row justify-content-center">
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </article>

    <!-- Sidebar -->
    <aside class="col-md-4 sidebar sidebar-left">

      <div class="widget">
        <h5 class="gt-walsheim text-right">Comunidades Python Colombia</h5>

        <iframe src="https://colombiapython.github.io/map-meetups/" width="100%" height="800px" frameborder="0"></iframe>
        <blockquote>
          <a href="https://github.com/ColombiaPython/map-meetups" target="_blank">Código Fuente</a>. Sobre <a
            href="https://python.org.co" target="_blank">Comunidades Python Colombia</a>
        </blockquote>
      </div>
    </aside>
    <!-- /Sidebar -->

  </div>
</div> <!-- /container -->
{%- endblock -%}