{% extends "layout.html" %}
{% from "macros/events.html" import render_event %}
{% from "macros/pagination.html" import render_pagination %}
{% block body %}
  <div class="container">
    <div class="row section clients topspace">
      <h2 class="section-title gt-walsheim primary-color"><span>Eventos</span></h2>
      {% for child in this.pagination.items %} 
        {{ render_event(child, from_index=true) }}
        {% if loop.index % 3 == 0 %}
        </div>
        <div class="thumbnails recentworks row">
        {% endif %}
      {% endfor %}
    </div>
    
    {{ render_pagination(this.pagination) }}
  
  </div>
{% endblock %}
