{% extends "layout.html" %}
{% block body %}
  <div class="container">
  
    <div class="row justify-content-center topspace">
  
      <!-- Article main content -->
      <article class="col-sm-8 maincontent">
        <header class="page-header">
          <h2 class="section-title gt-walsheim primary-color">{{ this.title }}</h2>
          <p>{{ this.body }}</p>
        </header>

        {% if this.image %}
        <p><img src="{{ this|url }}{{ this.image }}" alt=""></p>
        {% endif %}

        {% if this.meetup_url %}
        <p class="text-center">
          <a href="{{ this.meetup_url }}" class="btn btn-primary btn-lg" target="_blank" >Inscripción</a>
        </p>
        {% endif %}
        <hr />

        {% if this.pagination.items %}
        <div class="row">
          <h3 class="section-title gt-walsheim primary-color">Lista de Charlas</h3>
        </div>

        <ul>
          {% for child in this.pagination.items %}
          <li>
            <a href="{{ child|url }}">
              {{ child.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if this.team.blocks %}
        <div class="row">
          <h3 class="section-title gt-walsheim primary-color">Organizadores</h3>
        </div>
        <div class="row justify-content-center">
          {%- for block in this.team.blocks -%} 
          {%- set user = site.get('/usuarios/' + block.username) -%}
          <div class="col-6 col-md-3">
            {% if user.image %}
            <img class="avatar-circle" src="{{ user|url }}/{{ user.image }}" alt="{{ user.username }}" />
            {% endif %}
            <div>
              <p class="section-title gt-walsheim">{{ user.name }} {{ user.last_name }}</p>
            </div>
          </div>
            {% if loop.index % 4 == 0 %}
            </div>
            <div class="row justify-content-center">
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        {% if this.sponsors.blocks %}
        <div class="row">
          <h3 class="section-title gt-walsheim primary-color">Patrocinadores</h3>
        </div>
        <div class="row">
          {%- for block in this.sponsors.blocks -%}
          {%- set sponsor = site.get('/usuarios/' + block.username) -%}
          <div class="col-md-4">
            {% if sponsor.image_alt %}
            <img src="{{ sponsor|url }}/{{ sponsor.image_alt }}" alt="{{ sponsor.sponsorname }}" />
            {% elif sponsor.image %}
            <img src="{{ sponsor|url }}/{{ sponsor.image }}" alt="{{ sponsor.sponsorname }}" />
            {% endif %}
            <div>
              <p class="section-title gt-walsheim">{{ sponsor.name }} {{ sponsor.last_name }}</p>
            </div>
          </div>
          {% if loop.index % 3 == 0 %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
  
      </article>
      <!-- /Article -->
  
      <!-- Sidebar -->
      <aside class="col-md-4 sidebar sidebar-left">
  
        <div class="widget">
          <h5 class="gt-walsheim text-right">Otros Eventos</h5>

          {% for event in site.query('/eventos/').filter(F.title != this.title).limit(5) %}
          <div class="col-xs-12">
            <a class="thumbnail" href="{{ event|url }}">
              <span class="title">{{ event.title }} | {{ event.pub_date.strftime('%d/%m/%Y') }}</span>
              <span class="img">
                <img
                  src="{{ event|url }}/{%- if event.thumbnail -%}{{ event.thumbnail }}{%- else -%}{{ event.image }}{%- endif -%}"
                  alt="">
                <span class="cover"><span class="more">Ver detalles &rarr;</span></span>
              </span>
            </a>
          </div>
          {% endfor %}
        </div>
      </aside>
      <!-- /Sidebar -->
  
    </div>
  </div> <!-- /container -->
{% endblock %}
