{% extends "layout.html" %}
{% block body %}
  <div class="container">
  
    <div class="row justify-content-center topspace">
  
      <!-- Article main content -->
      <article class="col-sm-8 maincontent">
        <header class="page-header">
          <h2 class="section-title gt-walsheim primary-color">{{ this.title }}</h2>
          <p>{{ this.body }}</p>
        </header>

        {% if this.image %}
        <p><img data-toggle="modal" data-target="#modalFlyer" src="{{ this|url }}{{ this.image }}" alt="Imagen del Evento"></p>

        <!-- Modal -->
        <div class="modal fade" id="modalFlyer" tabindex="-1" role="dialog" aria-labelledby="modalFlyerTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
              <span>
                <img data-toggle="modal" data-target="#modalFlyer" src="{{ this|url }}{{ this.image }}" />
              </span>
            </div>
          </div>
        </div>
        {% endif %}

        {% if this.meetup_url %}
        <p class="text-center">
          <a href="{{ this.meetup_url }}" class="btn btn-primary btn-lg" target="_blank" >Inscripción</a>
        </p>
        {% endif %}

        <div class="row justify-content-center topspace">
          {% if this.pub_date %}
          <div class="col-md-4">
            <p>
              <div class="gt-walsheim primary-color"><b>Fecha: </b></div>
              {% if this.pub_date %}
              {{ this.pub_date.strftime('%d %b del %Y') }}
              {% endif %}
            </p>
            <p>
              <div class="gt-walsheim primary-color"><b>Hora: </b></div>
              {% if this.pub_date %}
              {{ this.pub_date.strftime('%H:%M') }}
              {% endif %}
              {% if this.end_date %}
              - {{ this.end_date.strftime('%H:%M') }}
              {% endif %}
            </p>
          </div>
          {% endif %}
          {% if this.place %}
          <div class="col-md-8">
            <p>
              <div class="gt-walsheim primary-color"><b>Lugar: </b></div>
              {% if this.place %}
              {{ this.place }}
              {% endif %}
            </p>
          </div>
          {% endif %}
        </div>

        {% if this.latitude and this.longitude %}

        {%- set lon_ll = this.longitude - 0.001 -%}
        {%- set lon_ur = this.longitude + 0.001 -%}
        {%- set lat_ll = this.latitude - 0.002 -%}
        {%- set lat_ur = this.latitude + 0.002 -%}

        <div class="embed-container">
          <iframe id="mapsource" scrollwheel="false" width="800" height="600" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox={{ lon_ll }}%2C{{ lat_ll }}%2C{{ lon_ur }}%2C{{ lat_ur }}&amp;layer=mapnik&amp;marker={{ this.latitude }}%2C{{ this.longitude }}">
          </iframe>
        </div>
        <small>
          <a href="https://www.openstreetmap.org/#map=18/{{ this.latitude }}/{{ this.longitude }}" target="_blank">
            Ver mapa de mayor tamaño
          </a>
        </small>
        {% endif %}

        <hr />

        {% if this.pagination.items %}
        <div class="row">
          <h3 class="section-title gt-walsheim primary-color">Lista de Charlas</h3>
        </div>

        <ul>
          {% for child in this.pagination.items %}
          <li>
            <a href="{{ child|url }}">
              {{ child.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if this.team %}
        <div class="row">
          <h3 class="section-title gt-walsheim primary-color">Organizadores</h3>
        </div>
        <div class="row justify-content-center">
          {% set users = [] %}

          {%- for block in this.team.blocks -%} 
            {%- set user = site.get('/usuarios/' + block.username) -%}
            {% set aux = users.append(user) %}
          {% endfor %}

          {% for user in users | sort(attribute='name') %}
          <div class="col-6 col-md-3">
            {% if user.image and user.type == 'persona' %}
              <a href="{{ user|url }}">
                <img class="avatar-circle" src="{{ user|url }}/{{ user.image }}" alt="{{ user.username }}" />
              </a>
              {% elif user.image %}
              <a href="{{ user.web }}" target="_blank">
                <img class="logo" src="{{ user|url }}/{{ user.image }}" alt="{{ user.username }}" />
              </a>
              {% endif %}
              <div>
                <p class="section-title gt-walsheim">{{ user.name }} {{ user.last_name }}</p>
              </div>
            </div>
              {% if loop.index % 4 == 0 %}
              </div>
              <div class="row justify-content-center">
              {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        {% if this.sponsor %}
        <div class="row">
          <h3 class="section-title gt-walsheim primary-color">Patrocinadores</h3>
        </div>
        <div class="row justify-content-center">
          {%- for block in this.sponsor.blocks -%}
          {%- set sponsor = site.get('/usuarios/' + block.username) -%}
          <div class="col-md-4 col-6">
            <a href="{{ sponsor.web }}" target="_blank">
              {% if sponsor.image_alt %}
              <img class="logo" src="{{ sponsor|url }}/{{ sponsor.image_alt }}" alt="{{ sponsor.sponsorname }}" />
              {% elif sponsor.image %}
              <img class="logo" src="{{ sponsor|url }}/{{ sponsor.image }}" alt="{{ sponsor.sponsorname }}" />
              {% endif %}
            </a>
          </div>
          {% if loop.index % 3 == 0 %}
        </div>
        <div class="row justify-content-center">
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}

      </article>
      <!-- /Article -->
  
      <!-- Sidebar -->
      <aside class="col-md-4 sidebar sidebar-left">
  
        <div class="widget">
          <h5 class="gt-walsheim text-right">Otros Eventos</h5>

          {% for event in site.query('/eventos/').filter(F.title != this.title).limit(5) %}
          <div class="col-xs-12">
            <a class="thumbnail" href="{{ event|url }}">
              <span class="title">{{ event.title }} | {{ event.pub_date.strftime('%d/%m/%Y') }}</span>
              <span class="img">
                <img
                  src="{{ event|url }}/{%- if event.thumbnail -%}{{ event.thumbnail }}{%- else -%}{{ event.image }}{%- endif -%}"
                  alt="">
                <span class="cover"><span class="more">Ver detalles &rarr;</span></span>
              </span>
            </a>
          </div>
          {% endfor %}
        </div>
      </aside>
      <!-- /Sidebar -->
  
    </div>
  </div> <!-- /container -->
{% endblock %}
