{% extends "layout.html" %}
{% from "macros/events.html" import render_event %}

{% block body %}

{%- set proximos = site.query('/eventos', alt=this.alt).filter(F.success).order_by('pub_date').limit(1) -%}
<!-- Banner -->
  <section id="banner">
    <img src="{{ base_url }}static/images/python-pereira.svg" style="max-width: 150px;" />
    <p>{{ this.summary }}</p>
    <ul class="actions special">
      {% if proximos %}
      {% for proximo in proximos %}
      <li><a href="{{ proximo|url }}" class="button primary">Próximo Evento</a></li>
      {% endfor %}
      {% endif %}
      <li><a href="/acerca-de" class="button">Más información</a></li>
    </ul>
  </section>

<!-- Main -->
  <section id="main" class="container">
    <section class="box special">
      {% if proximos %}
      {% for proximo in proximos %}
      <header class="major">
        <h2>Introducing the ultimate mobile app
        <br />
        for doing stuff with your phone</h2>
        <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
        adipiscing nunc adipiscing. Condimentum turpis massa.</p>
      </header>
      <span class="image featured"><img src="{{ proximo|url }}{{ proximo.image }}" alt="" /></span>
      {% endfor %}
      {% else %}
      <p>No hay</p>
      {% endif %}
    </section>

    <section class="box special features">
      <div class="features-row">
        <section>
          <span class="icon major fa-bolt accent2"></span>
          <h3>Magna etiam</h3>
          <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        </section>
        <section>
          <span class="icon major fa-area-chart accent3"></span>
          <h3>Ipsum dolor</h3>
          <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        </section>
      </div>
      <div class="features-row">
        <section>
          <span class="icon major fa-cloud accent4"></span>
          <h3>Sed feugiat</h3>
          <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        </section>
        <section>
          <span class="icon major fa-lock accent5"></span>
          <h3>Enim phasellus</h3>
          <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        </section>
      </div>
    </section>
    
    {%- set eventos = site.query('/eventos', alt=this.alt).limit(2) -%} 
    <div class="row">
      {% for evento in eventos %}
      {{ render_event(evento, from_index=true) }}
      {% endfor %}

      <!-- <div class="col-6 col-12-narrower">

        <section class="box special">
          <span class="image featured"><img src="{{ base_url }}static/images/pic02.jpg" alt="" /></span>
          <h3>Sed lorem adipiscing</h3>
          <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          <ul class="actions special">
            <li><a href="#" class="button alt">Learn More</a></li>
          </ul>
        </section>

      </div>
      <div class="col-6 col-12-narrower">

        <section class="box special">
          <span class="image featured"><img src="{{ base_url }}static/images/pic03.jpg" alt="" /></span>
          <h3>Accumsan integer</h3>
          <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
          <ul class="actions special">
            <li><a href="#" class="button alt">Learn More</a></li>
          </ul>
        </section>

      </div> -->
    </div>

  </section>

<!-- CTA -->
  <section id="cta">

    <h2>Sign up for beta access</h2>
    <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

    <form>
      <div class="row gtr-50 gtr-uniform">
        <div class="col-8 col-12-mobilep">
          <input type="email" name="email" id="email" placeholder="Email Address" />
        </div>
        <div class="col-4 col-12-mobilep">
          <input type="submit" value="Sign Up" class="fit" />
        </div>
      </div>
    </form>

  </section>
{% endblock %}
