{%- set base_url = '/'|url(alt='es') -%}

{%- from "macros/translation.html" import transbag -%}

{%- macro menu_item(identifier) -%}
{% set identifier_url = '/' + identifier %}
{% set trans_url = identifier_url|url(alt=this.alt) %}
{% set this_is_child = this.is_child_of(identifier_url) %}

<li class="{% if this_is_child %}active{% endif %}">
  <a href="{{ trans_url }}">{{ transbag('menu', this.alt, identifier) }}</a>
</li>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

  <title>PyPereira - Comunidad Python Pereira</title>

  <link rel="shortcut icon" href="{{ base_url }}static/images/favicon.ico">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Fonts -->
  <link rel="stylesheet" href="  https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ base_url }}static/css/styles.css">

  <!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>

<body class="home">

  <header id="header">
    <div id="head" class="parallax" parallax-speed="2">
      <div class="row justify-content-center no-size">
        <div class="col-md-4">
          <h1 id="logo" class="text-center">
            <img class="logo-pypereira" src="{{ base_url }}static/images/2019.svg" alt="">
            <span class="title primary-color"><div class="title-text fredoka">PY</div><div class="title-text viga">PEREIRA</div></span>
            <span class="tagline gt-walsheim primary-color">Comunidad Python Pereira<br>
              <a href="">python.pereira@gmail.com</a></span>
          </h1>
        </div>
        {% set events = site.query('/eventos', alt=this.alt).filter(F.success).filter(F.post) %}
        {% if events %}
          <div class="col-md-4">
            {% for event in events %}
              <div class="card-event">
                <div class="row">
                  <div class="col-2">
                    <div class="row justify-content-center text-center">
                      <h1 class="gt-walsheim primary-color">
                        {{ event.pub_date.strftime('%d') }}
                      </h1>
                      <br />
                      <h5 class="fredoka primary-color text-uppercase">
                        {{ event.pub_date.strftime('%b') }}
                      </h5>
                    </div>
                  </div>
                  <div class="col-10">
                    <div class="gt-walsheim">{{ event.title }}</div>
                    <hr />
                    <div class="row justify-content-center text-center">
                      <a href="{{ event|url(alt=this.alt) }}" class="btn btn-info">Evento</a>
                      {%- if event.meetup_url -%}
                        <a href="{{ event.meetup_url }}" class="btn btn-warning" target="_blank">Inscripción</a>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbar-sticky navbar-default">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li{% if this._path=='/' %} class="active" {% endif %}>
            <a href="{{ '/'|url }}">Inicio</a>
            </li>
            {% for href, title in [
                ['/eventos', 'Eventos'],
                ['/patrocinadores', 'Patrocinadores'],
                ['/calendario', 'Calendario'],
                ['/acerca-de', 'Acerca de']
            ] -%}
            <li {% if this.is_child_of(href) %} class="active" {% endif%}>
              <a href="{{ href|url }}">{{ title }}</a>
            </li>
            {% endfor -%}
        </ul>
      </div>
    </nav>
  </header>

  <main id="main">
    <div class="ga-script">{{ generate_google_analytics() }}</div>
    {%- block body -%}{%- endblock -%}
  </main>

  <!-- <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 widget">
          <h3 class="widget-title">Contacto</h3>
          <div class="widget-body">
            <p><br>
              <a href="mailto:python.pereira@gmail.com">python.pereira@gmail.com</a><br><br>
              <br>
              234 Hidden Pond Road, Ashland City, TN 37015
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title">Text widget</h3>
          <div class="widget-body">
            <p><a href="{{ '/coc'|url(alt=this.alt) }}">Adoptamos el código de conducta de ColombiaDev</a></p>
          </div>
        </div>

        <div class="col-md-3 widget">
          <h3 class="widget-title">Form widget</h3>
          <div class="widget-body">
            <p>+234 23 9873237<br>
              <a href="mailto:python.pereira@gmail.com">python.pereira@gmail.com</a><br>
              <br>
              Pereira, Risaralda. Colombia
            </p>
          </div>
        </div>

      </div>
    </div>
  </footer> -->

  <footer id="underfooter">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-3 widget">
          <div class="widget-body">
            <p class="follow-me-icons">
              <a href="mailto:python.pereira@gmail.com" target="_blank"><i class="fas fa-envelope fa-2"></i></a>
              <a href="https://twitter.com/pythonpereira" target="_blank"><i class="fab fa-twitter fa-2"></i></a>
              <a href="https://instagram.com/pythonpereira" target="_blank"><i class="fab fa-instagram fa-2"></i></a>
              <a href="https://github.com/pythonpereira" target="_blank"><i class="fab fa-github-alt fa-2"></i></a>
              <a href="https://facebook.com/pythonpereira" target="_blank"><i class="fab fa-facebook-f fa-2"></i></a>
              <a href="https://meetup.com/pythonpereira" target="_blank"><i class="fab fa-meetup fa-2"></i></a>
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 widget">
          <div class="widget-body text-center">
            <p><a href="{{ '/coc'|url(alt=this.alt) }}">Adoptamos el código de conducta de ColombiaDev</a></p>
          </div>
          <div class="widget-body">
            <p class="text-center">
              Copyright &copy; 2019, Comunidad Python Pereira - PyPereira<br>
              Design: <a href="  https://www.gettemplate.com" rel="designer">Initio by GetTemplate</a> </p>
          </div>
        </div>

        <div class="col-xs-12 col-md-3 widget">
          <div class="widget-body text-right">
            <p>Pereira, Risaralda. Colombia</p>
          </div>
        </div>

      </div> <!-- /row justify-content-center of widgets -->
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{{ base_url }}static/js/template.js"></script>
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</body>

</html>