{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row justify-content-center section clients topspace">
    <div class="col-sm-12">
      <article class="maincontent">
        <header class="page-header">
          <h2 class="section-title gt-walsheim primary-color">{{ this.title }}</h2>
        </header>
        <div class="content">
          {{ this.body }}
        </div>
        <hr />
        <div class="content">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdSsHtpe0q_SrATfRtlFH_9RlwS9HM97OuBjwrey0cn9MPv-A/viewform?embedded=true"
            width="100%" height="2080" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}