{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row justify-content-center section clients topspace">
    <div class="col-sm-12">
      <article class="maincontent">
        <header class="page-header">
          <h2 class="section-title gt-walsheim primary-color">{{ this.title }}</h2>
        </header>
        <div class="content">
          {{ this.body }}
        </div>
        <hr />
        <div class="content">
          <form id="contact-form" autocomplete="off">
            <div class="row justify-content-center">
              <h3 class="section-title gt-walsheim primary-color">Información de Contacto</h3>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Nombre Completo <span>*</span></label>
                  <input type="text" class="form-control" placeholder="Nombre Completo" id="name" name="name" required="">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Correo Electrónico <span>*</span></label>
                  <input type="email" class="form-control" placeholder="Correo Electrónico" id="email" name="email"
                    required="">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Celular <span>*</span></label>
                  <input type="text" class="form-control" placeholder="Título" id="phone" name="phone" required="">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Medio alternativo de contacto redes sociales <span>*</span></label>
                  <input type="text" class="form-control" placeholder="Medio alternativo de contacto redes sociales"
                    id="social" name="social" required="">
                  <small class="form-text text-muted">Facebook, Twitter o Github</small>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Cuéntanos un poco sobre ti <span>*</span></label>
                  <textarea class="form-control" placeholder="Cuéntanos un poco sobre ti" id="about" name="about"
                    required=""></textarea>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Link a una foto tuya para incluirla en la publicidad</label>
                  <input type="text" class="form-control" placeholder="Link a una foto tuya para incluirla en la publicidad"
                    id="photo" name="photo">
                </div>
              </div>
              <h3 class="section-title gt-walsheim primary-color">Sobre la Charla</h3>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Título <span>*</span></label>
                  <input type="text" class="form-control" placeholder="Título" id="title" name="title" required="">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Nivel de la charla <span>*</span></label>
                  <select class="form-control" name="audience" id="audience">
                    <option value="Básico">Básico</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Avanzado">Avanzado</option>
                    <option value="Todos">Todos</option>
                  </select>
                  <small class="form-text text-muted">De acuerdo al publico al cual esta dirigido</small>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Descripción de la charla <span>*</span></label>
                  <textarea class="form-control" placeholder="Descripción de la charla" id="description" name="description"
                    required=""></textarea>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Requerimientos especiales <span>*</span></label>
                  <input type="text" class="form-control" placeholder="Requerimientos especiales" id="requirements"
                    name="requirements" required="">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label class="gt-walsheim primary-color bold">Comentarios Adicionales</label>
                  <textarea class="form-control" placeholder="Descripción de la charla" id="comments"
                    name="comments"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <blockquote>
                  <strong>NOTA:</strong> Verifica toda tu información antes de enviar.
                </blockquote>
                <div class="row justify-content-center">
                  <button type="submit" class="btn btn-primary btn-lg">
                    ENVIAR PROPUESTA
                  </button>
                </div>
                <br />
              </div>
            </div>
          </form>
          <div id="feedback">
            <div class="text-center gt-walsheim alert alert-success" role="alert">
              Se envió la charla correctamente. Estarémos en contacto.
            </div>
            <div class="col-md-12">
              <div class="row justify-content-center">
                <a href="/charlas" class="btn btn-primary btn-lg">
                  ENVIAR OTRA PROPUESTA
                </a>
              </div>
              <br />
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}