{% extends "page.html" %}
{% from "macros/pagination.html" import render_pagination %}{% block title %}{{ this.title }}{%
endblock %}
{% block content %}

<div class="row justify-content-center justify-content-md-center">
  <h2>Usuarios</h2>
</div>
<div class="row justify-content-center justify-content-md-center">
  {% for child in this.pagination.items.filter(F.type == 'persona') %}
  <div class="col-3">
    {% if child.image %}
    <img class="image fit" src="{{ child|url }}/{{ child.image }}" alt="{{ child.username }}" /> {% endif %}
    <div class="row justify-content-center justify-content-md-center">
      <h4>{{ child.name }} {{ child.last_name }}</h4>
    </div>
    <div class="row justify-content-center justify-content-md-center">
      <ul class="icons">
        {% if child.web %}
        <li>
          <a href="{{ child.web }}" class="icon fa-globe" target="_blank">
            <span class="label">Website</span>
          </a>
        </li>
        {% endif %} {% if child.email %}
        <li>
          <a href="mailto:{{ child.email }}" class="icon fa-envelope" target="_blank">
            <span class="label">Email</span>
          </a>
        </li>
        {% endif %} {% if child.facebook_handle %}
        <li>
          <a href="https://facebook.com/{{ child.facebook_handle}}" class="icon fa-facebook" target="_blank">
            <span class="label">Facebook</span>
          </a>
        </li>
        {% endif %} {% if child.twitter_handle %}
        <li>
          <a href="https://twitter.com/{{ child.twitter_handle}}" class="icon fa-twitter" target="_blank">
            <span class="label">Twitter</span>
          </a>
        </li>
        {% endif %} {% if child.github_handle %}
        <li>
          <a href="https://github.com/{{ child.github_handle}}" class="icon fa-github-alt" target="_blank">
            <span class="label">Github</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  {%- if child._id != child.username -%}
  <h1>ERROR</h1>
  {%- endif -%} {% endfor %}
</div>
<div class="row justify-content-center justify-content-md-center">
  <h2>Empresas / Organizaciones / Universidades</h2>
</div>
<div class="row justify-content-center justify-content-md-center">
  {% for child in this.pagination.items %} {%- if child.type not in ['comunidad', 'persona'] -%}
  <div class="col-3">
    {% if child.image_alt %}
    <a href="{{ child.web }}" target="_blank">
      <img class="image fit" src="{{ child|url }}/{{ child.image_alt }}" alt="{{ child.username }}" /> {% endif %}
    </a>
  </div>
  {%- if child._id != child.username -%}
  <h2>ERROR</h2>
  {%- endif -%} {%- endif -%} {% endfor %}
</div>
<div class="row justify-content-center justify-content-md-center">
  <h2>Comunidades</h2>
</div>
<div class="row justify-content-center justify-content-md-center">
  {% for child in this.pagination.items %} {%- if child.type == 'comunidad' -%}
  {% if child.image_alt %}
  <div class="col-3">
    <a href="{{ child.web }}" target="_blank">
      <img class="image fit" src="{{ child|url }}/{{ child.image_alt }}" alt="{{ child.username }}" />
  {% else %}
  <div class="col-2">
    <a href="{{ child.web }}" target="_blank">
      <img class="image fit" src="{{ child|url }}/{{ child.image }}" alt="{{ child.username }}" />
  {% endif %}
    </a>
  </div>
  {%- if child._id != child.username -%}
  <h2>ERROR</h2>
  {%- endif -%} {%- endif -%} {% endfor %}
</div>

{% endblock %}