{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="row justify-content-center topspace">
    <header class="page-header">
      <h1 class="section-title gt-walsheim primary-color">{{ this.name }} {{ this.last_name }}</h1>
    </header>
  </div>
  <div class="row justify-content-center topspace">
    <div class="col-md-4 col-sm-12 col-12">
      <div class="row justify-content-center">
        <div class="col-8">
          {% if this.image %}
          <img class="avatar-circle" src="{{ this|url }}/{{ this.image }}" alt="{{ this.username }}" />
          {% endif %}
          <div>
            <p class="section-title gt-walsheim">{{ this.name }} {{ this.last_name }}</p>
          </div>
          {% if this.summary %}
          <div class="text-center">
            <p>{{ this.summary }}</p>
          </div>
          {% endif %}
        </div>
      </div>
      {% if this.web %}
      <p>
        <a href="{{ this.web }}" target="_blank">
          <i class="fas fa-globe-americas"></i> {{ this.web }}
        </a>
      </p>
      {% endif %}
      <div class="row justify-content-center">
        <p class="follow-me-icons">
          {% if this.email %}
            <a href="mailto:{{ this.email }}" target="_blank">
              <i class="fas fa-envelope"></i>
            </a>
          {% endif %} 
          {% if this.twitter_handle %}
            <a href="https://www.twitter.com/{{ this.twitter_handle }}" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          {% endif %} 
          {% if this.facebook_handle %}
            <a href="https://www.facebook.com/{{ this.facebook_handle }}"  target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          {% endif %} 
          {% if this.instagram_handle %}
            <a href="https://www.instagram.com/{{ this.instagram_handle }}" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          {% endif %} 
          {% if this.github_handle %}
            <a href="https://github.com/{{ this.github_handle }}" target="_blank">
              <i class="fab fa-github-alt"></i>
            </a>
          {% endif %} 
          {% if this.telegram_handle %}
            <a href="https://t.me/{{ this.telegram_handle }}" target="_blank">
              <i class="fab fa-telegram-plane"></i>
            </a>
          {% endif %} 
          {% if this.linkedin_handle %}
            <a href="https://www.linkedin.com/in/{{ this.linkedin_handle }}" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          {% endif %} 
          {% if this.meetup_url %}
            <a href="{{ this.meetup_url }}" target="_blank">
              <i class="fab fa-meetup"></i>
            </a>
          {% endif %}
        </p>
      </div>
    </div>
    <div class="col-md-8 col-12">
      <h2 class="gt-walsheim primary-color">Información</h2>
      <div class="content">
        {% if this.information %}
        {{ this.information }} 
        {% else %}
        <p>No hay información disponible</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}