{% extends "page.html" %}
{% from "macros/pagination.html" import render_pagination %}

{% block body %}

<div class="container">
  <div class="row justify-content-center justify-content-md-center section clients topspace">
    <h2 class="section-title gt-walsheim primary-color">Listado de Usuarios</h2>
    {% for child in this.pagination.items.filter(F.type == 'persona') %}
    <div class="col-6 col-md-2">
      {% if child.image %}
      <img class="avatar-circle" src="{{ child|url }}/{{ child.image }}" alt="{{ child.username }}" />
      {% else %}
      <img class="avatar-circle" src="{{ base_url }}static/images/avatar.png" alt="{{ child.username }}" />
      {% endif %}
      <div>
        <p class="section-title gt-walsheim">{{ child.name }} {{ child.last_name }}</p>
      </div>
    </div>
    {% if loop.index % 6 == 0 %}
    </div>
    <div class="row justify-content-center">
      {% endif %}
    {% endfor %}
  </div>
  <div class="row justify-content-center justify-content-md-center section clients topspace">
    <h2 class="section-title gt-walsheim primary-color">Empresas / Organizaciones / Universidades</h2>
    {% for child in this.pagination.items %}
    {%- if child.type not in ['comunidad', 'persona'] -%}
    {% if child.image %}
    <div class="col-6 col-md-2">
      <a href="{{ child.web }}" target="_blank">
      <img class="avatar" src="{{ child|url }}/{{ child.image }}" alt="{{ child.username }}" />
      {% elif child.image_alt %}
    <div class="col-6 col-md-3">
      <a href="{{ child.web }}" target="_blank">
      <img class="avatar" src="{{ child|url }}/{{ child.image_alt }}" alt="{{ child.username }}" />
      {% else %}
    <div class="col-6 col-md-2">
      <a href="{{ child.web }}" target="_blank">
      <img class="avatar-circle" src="{{ base_url }}static/images/avatar.png" alt="{{ child.username }}" />
    {% endif %}
      </a>
    </div>
    {% if loop.index % 6 == 0 %}
  </div>
  <div class="row justify-content-center">
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  <div class="row justify-content-center justify-content-md-center section clients topspace">
    <h2 class="section-title gt-walsheim primary-color">Comunidades</h2>
    {% for child in this.pagination.items.filter(F.type == 'comunidad') %}
    {% if child.image %}
    <div class="col-6 col-md-2">
      <a href="{{ child.web }}" target="_blank">
      <img class="avatar" src="{{ child|url }}/{{ child.image }}" alt="{{ child.username }}" />
      {% elif child.image_alt %}
    <div class="col-6 col-md-3">
      <a href="{{ child.web }}" target="_blank">
      <img class="avatar" src="{{ child|url }}/{{ child.image_alt }}" alt="{{ child.username }}" />
      {% else %}
    <div class="col-6 col-md-2">
      <a href="{{ child.web }}" target="_blank">
      <img class="avatar-circle" src="{{ base_url }}static/images/avatar.png" alt="{{ child.username }}" />
      {% endif %}
      </a>
    </div>
    {% if loop.index % 6 == 0 %}
  </div>
  <div class="row justify-content-center">
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}